

<div class="alert alert-success" *ngIf='message'>{{message}}</div>

<div class="container">
  <h4 *ngIf="!user.state.loading && user"> Posts by {{user.name}} </h4>
  <table *ngIf="hasPosts()" class="table">
    <thead>
      <tr>
        <th>Post Id</th>
        <th>Post Title</th>
        <th>Post Description</th>
        <th>Created On</th>
        <th>Modified On</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts">
        <td>{{post.id}}</td>
        <td>{{post.title}}</td>
        <td>
            <!-- Wrap description
              https://getbootstrap.com/docs/4.2/utilities/text/#text-wrapping-and-overflow -->
          <span class="d-inline-block text-truncate" style="max-width: 150px;">
            {{post.description}}
          </span>
        </td>
        <td>{{post.created| date:"MM/dd/yy hh:mm a"}}</td>
        <td>{{post.lastModified| date:"MM/dd/yy hh:mm a"}}</td>
        <!-- <td><button (click)="navigateToPostDetail(post)" class="btn btn-success">Get Posts</button></td> -->
        <td>
          <a [routerLink]="['/posts', post.id]">
            <span class="badge">Read Post</span>
          </a>
        </td>

      </tr>
    </tbody>

  </table>

  <span [hidden]="!isLoading()">Loading...</span>

  <p *ngIf="!isLoading() && !hasPosts()">This user has no posts</p>
</div>