<!--<app-welcome></app-welcome>-->

<!-- <app-login></app-login> -->
<!--
<div>Component Content</div>-->

<app-menu></app-menu>

<div class="container">
    <!-- Alerting from here: http://jasonwatmore.com/post/2018/10/29/angular-7-user-registration-and-login-example-tutorial -->
    
    <alert></alert>
    <router-outlet></router-outlet>
    <!-- <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 offset-sm-3">
                        <alert></alert>
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
    </div> -->
    <!-- <router-outlet></router-outlet> -->
</div>

<app-footer></app-footer>